<h1>My Tasks</h1>
<% @tasks.each do |task| %>
  <div class="align">
    <% if task.completed %>
      <i class="fas fa-check" ></i>
    <% else %>
      <i class="far fa-square"></i>
    <% end %>
    <h5><%= link_to task.title, task_path(task) %></h5>
    <%= link_to task_path(task), method: :delete, data: {:confirm => "You sure?" } do  %>
      <i class="fas fa-trash"></i>
    <% end %>
  </div>
<% end %>
<h5><%= link_to "Add a new task", new_task_path %></h5>

